<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today I'm done</title>
    <link rel="stylesheet" href="assests/css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="assests/js/pomo.js"></script>
    <script language="JavaScript" type="text/javascript" src="assets/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        li.borderless {
            border-top: 0 none;
            border-right: 0 none;
            border-left: 0 none;
            border-color: rgba(0, 81, 191, 0.59);
        }

        .list-group-item {
            background-color: transparent;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation" style="opacity:0.8 ">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">
            <span class="glyphicon glyphicon-check" style="font-size: 25px;"></span>
            <span class="logo">Today I'm done</span>
        </a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="text20"></span><b
                            class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li></li>
                    <li></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 well">
            <div class="col-md-7">
                <div class="listtask">
                    <div class="slogan">
                        <input type="text" id="slogan" class="slogan-input"
                               placeholder="Today I will..." value="">
                    </div>
                    <ul class="list-group" id="task-list">
                        <li class="list-group-item borderless">
                            <img src="assests/images/plus1.png" class="img-responsive" style="float: left">
                            &nbsp;
                            <input type="text" id="newtask" class="addTask-input"
                                   placeholder="Input new task and press ENTER to add..." value="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="pomodoro">
                    <div class="settings">
                        <table width="100%">
                            <tr>
                                <td>
                                    <p>
                                        Break Length
                                        <br>
                                        <button class="break" id="breakSub">-</button>
                                        <span class="break" id="breakTime">5</span>
                                        <button class="break" id="breakAdd">+</button>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        Session Length
                                        <br>
                                        <button id="totSub">-</button>
                                        <span id="totTime">25</span>
                                        <button id="totAdd">+</button>
                                    </p>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="clock">
                        <p id="time-display">25:00</p>
                        <p id="break-text" class="break-text">
                            Break!
                        </p>
                        <div class="newton-cradle">
                            <div id="leftBall" class="cord">
                                <div class="ball"></div>
                            </div>
                            <div class="cord">
                                <div class="ball"></div>
                            </div>
                            <div class="cord">
                                <div class="ball"></div>
                            </div>
                            <div class="cord">
                                <div class="ball"></div>
                            </div>
                            <div class="cord">
                                <div class="ball"></div>
                            </div>
                            <div class="cord">
                                <div class="ball"></div>
                            </div>
                            <div id="rightBall" class="cord">
                                <div class="ball" id="first"></div>
                            </div>
                        </div>
                    </div>
                    <div class="controls text-center">
                        <button type="button" id="startstop" class="btn btn-primary">Start</button>
                        <button type="button" id="reset" class="btn btn-danger">Reset</button>
                    </div>

                    <audio id="notify">
                        <source src="assests/notification.mp3" type="audio/mpeg"/>
                        <source src="assests/notification.ogg" type="audio/ogg"/>
                    </audio>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title"><b>Change task</b></h2>
                </div>
                <div class="modal-body">
                    <label for="task_id"></label><input type="text" hidden value="" id="task_id">
                    <div class="input-group">
                        <span class="input-group-addon">My task</span>
                        <input id="task_modal_name" type="text" class="form-control" name="Task" placeholder="">
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button class="btn btn-basic" id="DeleteTask" onclick="deleteTask()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
$(initialize())
<script>
</script>