* {

}

body {
    background-image: url("../images/forest.jpg");
    color: black;
    background-attachment: fixed;
    font-family: Monaco;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.logo {
    font-size: 25px;
    font-family: "Lucida Handwriting";
}

@media only screen and (max-width: 570px) {
    .logo {
        font-size: 20px;
    }

    .navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }
}

@media only screen and (max-width: 480px) {
    .logo {
        font-size: 18px;
    }

    .navbar-brand {
        transform: translateX(-40%);
        left: 40%;
        position: absolute;
    }
}

.listtask {
    min-height: 430px;
    padding-right: 15px;
}

@media only screen and (min-width: 768px) {
    .col-sm-7 {
        border-right: 1px solid grey;
    }
}

@media only screen and (max-width: 759px) {
    .col-sm-12 {
        margin: 0px 20px;
    }
    .listtask {
        min-height: 0px;
        padding-right: 5px;
        padding-bottom: 10px;
    }
}

.slogan {
    font-size: large;
    font-weight: bold;
    color: rgba(0, 81, 191, 0.59);
}
.slogan-input {
    border: none !important;
    border-radius: 0 !important;
    width: 100%;
}

.slogan-input::-webkit-input-placeholder {
    font-size: large;
    font-weight: bold;
    color: rgba(0, 81, 191, 0.59);
}
.slogan-input::-moz-placeholder {
    font-size: large;
    font-weight: bold;
    color: rgba(0, 81, 191, 0.59);
}
.slogan-input:-ms-input-placeholder {
    font-size: large;
    font-weight: bold;
    color: rgba(0, 81, 191, 0.59);
}

.addTask-input {
    border: none !important;
    border-radius: 0 !important;
    width: 95%;
}

input.largerCheckbox {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

input {
    background: transparent;
}

.well {
    opacity: 0.85;
}

label {
    font-size: 15px;
    font-weight: normal;
}

input[type=checkbox] {
    float: left;
}

.contenttask {
    font-size: 15px;
    margin-left: 25px;
    display: block;
}
.donecontent {
    color: lightgrey;
}

.settings{
    margin-top: 20px;
}

.settings p,span{
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
}

.settings button{
    width: 50px;
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    background: none;font-size: 18px;
}

.settings button:hover{
    color: #ef5d50;
}

.clock{
    border-radius: 50%;
    border: solid 2px #ef5d50;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.clock p{
    font-size: 40px;
    margin-top: 30px;
}

.break-text{
    margin-top: 10px !important;
    visibility: hidden;
    font-size: 20px;
}

.newton-cradle{
    width: 110px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

}

.controls button{
    margin-top: 20px;
    width: 80px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    color: white;
}

.cord{
    padding-top:80px;
    width:15px;
    transform: rotate(0deg);
    transform-origin:50% 50%;
    float:left;
}

.ball{
    background-color: #ef5d50;
    width:15px;
    height:15px;
    float:left;
    border-radius:50%;
}

@media only screen and (max-width: 1000px) {
    .clock{
        width: 250px;
        height: 250px;
    }

    .cord{
        padding-top:45px;
        width:15px;
        transform: rotate(0deg);
        transform-origin:50% 50%;
        float:left;
    }

    .break-text{
        margin-top: 10px !important;
        visibility: hidden;
        font-size: 20px;
    }

    .settings p,span{
        text-align: center;
        font-size: 16px;
        font-weight: lighter;
    }
}

@media only screen and (max-width: 370px) {
    .logo {
        font-size: 16px;
    }

    .navbar-brand {
        transform: translateX(0%);
        left: 0%;
        position: absolute;
    }

    .clock{
        width: 200px;
        height: 200px;
    }

    .cord{
        padding-top: 0px;
        width:15px;
        transform: rotate(0deg);
        transform-origin:50% 50%;
        float:left;
    }

    .break-text{
        margin-top: 10px !important;
        visibility: hidden;
        font-size: 18px;
    }

    .settings p,span{
        text-align: center;
        font-size: 14px;
        font-weight: lighter;
    }
}

.leftMove{
    animation: leftBall .5s ease-in-out 0s infinite alternate;
}
.rightMove{
    animation: rightBall .5s ease-in-out 0s infinite alternate;
}

@keyframes leftBall
{
    0% {
        transform: rotate(0deg) translateY(0px);
    }
    /*this pauses the ball at the begining*/
    50% {
        transform: rotate(0deg) translateY(0px);
    }
    100% {
        transform: rotate(50deg) translateY(-20px);
    }

}

@keyframes rightBall
{
    0% {
        transform: rotate(-50deg) translateY(-20px);
    }
    /*this pauses the ball at the begining*/
    50% {
        transform: rotate(0deg) translateY(0px);
    }
    100% {
        transform: rotate(0deg) translateY(0px)
        translateX(0px);
    }

}