* {

}
body {
    background-image: url("../images/bg1.jpg");
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slogan {
    font-style: inherit;
    font-size: 20px;
    font-family: sans-serif;
}

label {
    font-size: 20px;
}

hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    width: 60%;
}

.progress {
    width: 82%;
    margin: auto;
}

.gi-2x{font-size: 2em;}

.text30 {
    font-size: 30px;
}

.text20 {
    font-size: 20px;
}

.time {
    top: 50%;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size:10vw;
    left: 0;
}

.clock {
    position: relative;
}


